app _link not tracked_

related to _link not tracked_

A key part of the _link not tracked_